/* body {
    background-color: rgb(41, 40, 38);
    padding: 20px;
    margin: 0;
  }
h1, h2, h3, p, ul, li {
  font-family: sans-serif;
  color: rgb(255, 255, 255)
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: rgba(63, 59, 59, 0.753);
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: rgb(41, 40, 38);
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #0099FF;
}

.contact-email {
  height: 100px;
} */

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
  font-family: 'BMJUA';
  src: url('./font/BMJUA_otf.otf') format('truetype');
}

* {
  font-family: 'BMJUA', 'Noto Sans KR', sans-serif;
}

body, .jumbotron {
  /* background: #00cc99; */
  background: #292827;
  color: rgba(255, 255, 255, 0.8);
}

/*--------------------
    Header Section
--------------------*/
.header-main-component {
  padding: 2rem 4rem;
  margin: 0;
}

.main-title-header {
  font-size: 3rem;
}

.header-text {
  font-size: 1.5rem;
}

/*--------------------
    Body Section
--------------------*/
.body-main-component {
  /* background: #fff; */
  padding: 2rem 4rem;
  /* color: #000; */
  color: rgba(255, 255, 255, 0.8);
}

.img-flower {
  height: 30rem;
}

.flower-price {
  font-size: 2.5rem;
}

/*--------------------
    Footer Section
--------------------*/
.footer-main-component {
  padding: 2rem 4rem;
}
